<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" th:href="@{/css/hojaEstilos.css}" />

</head>

<body>
	<form th:action="@{/acceso/post}" th:object="${usuarioLogin}" method="post">
		<!-- Cabecera Cliente/Usuario -->
		<div>
			<table class="tableCabecera">
				<td>
					<fieldset>
						<legend>Cliente</legend>
						</br>

						Direccion IP: <input type="text" size="16" disabled name="direccionIP"
							th:value="${direccionIP}" />
						</br>
						Navegador: <input type="text" size="50" name="direccionIP" id="direccionIP" disabled
							th:value="${navegador}" />
						</br>
						</br>
					</fieldset>
				</td>

				<td>
					<fieldset clas="izq">
						<legend>Usuario</legend>
						Bienvenido,
						<input type="text" disabled th:field="*{usuario}" />
						</br>

						Partidas Ganadas:
						<input type="text" disabled value="" />
						</br>

						<input type="button" value="Cerrar sesion" />
						</br>
					</fieldset>
				</td>

			</table>
		</div>
		<hr>


		<h1>Partida en curso <input type="text" disabled name="estadoPartida" value="winner/loser" /></h1>
		</br>




		<!-- Imagen  -->
		<p>
			<img src="/img/imagen.jpg">
		</p>
		
		</p>
		<p>Palabra Secreta:
			<p th:text="${palabraOculta}" />
		</p>

		</br>
		</br>
		<hr>
		</br>
		</br>


		<!-- Cuadro de letras -->
		<table class="cuadroLetras">
			<tr>
				<td>
					<span>Introduce una letra: <input type="text" name="letraIntroducida" /></span>
					<input type="submit" value="Probar letra" />
				</td>
			</tr>
			<tr>
				<td>
					<span>La letra recibida es:<input type="text" size="3" disabled th:value="${letraIntroducida}" />
					</span>
				</td>
			</tr>
			<tr>
				<td>
					<span>La letra <input type="text" size="2" disabled th:value="${letraIntroducida}" />
						<input type="text" size="2" disabled value="" /> pertenece a la palabra
						oculta</span>
				</td>
			</tr>

		</table>

		</br>
		</br>

		<!-- Funcionalidades -->
		<div>
			<table>
				<tr>
					<td><input type="button" value="Empezar partida">
						<input type="button" value="Terminar partida">
					</td>
				</tr>
				<tr>
					<td> Listado de letras probadas:<th:block disabled th:text="${listadoLetras}" > </th:block>
					</td>
				</tr>
				<tr>
					<td> Intentos realizados: <input type="text" size="2" disabled th:value="${intentos}" /></td>
				</tr>
				<tr>
					<td> Vidas disponibles:<input type="text" size="2" disabled value="" /></td>
				</tr>
				<tr>
					<td> <input type="button" value="Cerrar la ventana" /></td>
				</tr>
			</table>
		</div>
	</form>
</body>


</html>